@model ZooboxApplication.Models.Animals.DiseaseAnimal

@{
    ViewData["Title"] = "Criar";
}

<h2>Criar  <a href="#" data-toggle="tooltip" data-placement="bottom" title="Formulário para adicionar um doença, somente preencher e submter o formulário"><i class="fa fa-question-circle" aria-hidden="true"></i></a></h2>

<h4>Doença animal</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DiseaseName" class="control-label"></label>
                <input asp-for="DiseaseName" class="form-control" />
                <span asp-validation-for="DiseaseName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
