@model ZooboxApplication.Models.Animals.DiseaseAnimal

@{
    ViewData["Title"] = "Details";
}

<h2><span class="glyphicon glyphicon-info-sign"></span></h2>

<div>
    <h4>Doença animal</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DiseaseName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DiseaseName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id"><span class="glyphicon glyphicon-pencil"></span></a> |
</div>
