@model ZooboxApplication.Models.ViewModel.AnimalViewModel


@{
    ViewData["Title"] = "Registar Animal";
}

<h2>Registar Animal</h2>

<h4>Animal</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EntranceDay" class="control-label"></label>
                <input asp-for="EntranceDay" class="form-control" />
                <span asp-validation-for="EntranceDay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Race" class="control-label"></label>
                <select asp-for="Race" asp-items="@Model.Race" class="form-control">
                    <option>Seleccione um</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Disease" class="control-label"></label>
                <select asp-for="Disease" asp-items="@Model.Disease" class="form-control">
                    <option>Seleccione um</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="State" class="control-label"></label>
                <select asp-for="State" asp-items="@Model.State" class="form-control">
                    <option>Seleccione um</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Registar" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
