@model ZooboxApplication.Models.Animal

@{
    ViewData["Title"] = "Criar novo animal";
}

<h2>Criar novo animal</h2>

<h4>Animal</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Race" class="control-label"></label>
                <select asp-for="Race" class="form-control" asp-items="ViewBag.Race"></select>
            </div>
            <div class="form-group">
                <label asp-for="Disease" class="control-label"></label>
                <select asp-for="Disease" class="form-control" asp-items="ViewBag.Disease"></select>
            </div>
            <div class="form-group">

                <label asp-for="EntranceDay" class="control-label"></label>
                <input asp-for="EntranceDay" class="form-control" />
                <span asp-validation-for="EntranceDay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="State" class="control-label"></label>
                <select asp-for="State" class="form-control" asp-items="ViewBag.State"></select>
            </div>
            <div class="form-group">
                <input type="submit" id="submitAnimal" value="Criar" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script src="/vendor/jquery/jquery.js"></script>
<script>
    $(document).ready(function () {
        var m = new Date();
        var dateString =
            m.getUTCFullYear() + "-" +
            ("0" + (m.getUTCMonth() + 1)).slice(-2) + "-" +
            ("0" + m.getUTCDate()).slice(-2) + "T" +
            ("0" + m.getUTCHours()).slice(-2) + ":" +
            ("0" + m.getUTCMinutes()).slice(-2);
        $(EntranceDay).val(dateString);
    });
</script> 