@model ZooboxApplication.Models.Animal


@{
 
    ViewData["Title"] = "Editar - Animal";
}




<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="ImageFile" />
            @if (Model.ImageFile != null)
            {
                <div class="form-group">
                    <div class="col-md-6">
                        <div class="thumbnail-gallery">
                            <a class="img-thumbnail lightbox" href="@Model.ImageFile" data-plugin-options="{ &quot;type&quot;:&quot;image&quot; }">
                                <img class="img-responsive" width="215" src="@Model.ImageFile">
                                <span class="zoom">
                                    <i class="fa fa-search"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4" style="margin-top: 140px">
                        <button type="button" class="mb-xs mt-xs mr-xs btn btn-danger" id="deleteImage"><i class="fa fa-trash-o"></i> Eliminar</button>
                    </div>
                </div>

            }


            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Race" class="control-label"></label>
                <select asp-for="Race" class="form-control" asp-items="ViewBag.Race"></select>
                <span asp-validation-for="Race" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Disease" class="control-label"></label>
                <select asp-for="Disease" class="form-control" asp-items="ViewBag.Disease"></select>
                <span asp-validation-for="Disease" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EntranceDay" class="control-label"></label>
                <input asp-for="EntranceDay" class="form-control" />
                <span asp-validation-for="EntranceDay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="State" class="control-label"></label>
                <select asp-for="State" class="form-control" asp-items="ViewBag.State"></select>
                <span asp-validation-for="State" class="text-danger"></span>
            </div>


            <div class="form-group" style="margin-left: -15px;">
                <label class="col-md-12 control-label">Imagem</label>
                <div class="col-md-12">
                    <div class="fileupload fileupload-new" data-provides="fileupload">
                        <input type="hidden" value="" name="">
                        <div class="input-append">
                            <div class="uneditable-input">
                                <i class="fa fa-file fileupload-exists"></i>
                                <span class="fileupload-preview"></span>
                            </div>
                            <span class="btn btn-default btn-file">
                                <span class="fileupload-exists">Editar</span>
                                <span class="fileupload-new">Selecionar</span>
                                <input type="file" name="Image" id="Image" accept="image/x-png,image/gif,image/jpeg">
                            </span>
                            <a href="#" class="btn btn-default fileupload-exists" data-dismiss="fileupload">Eliminar</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" id="submitAnimal" value="Guardar" class="btn btn-default" />
            </div>
        </form>
    </div>
    <div class="col-md-6 pull-right">
        <div class="form-group">
            <label class="control-label" for=Title">Crie uma nova História</label>
            <input class="form-control" type="text" id="Title" name="Title" value="">
        </div>
        <textarea class="input-block-level" id="summernote" name="content" rows="18">
					</textarea>
        
        @*<div class="summernote" data-plugin-summernote data-plugin-options='{ "height": 200, "codemirror": { "theme": "ambiance" } }'></div>*@
        <input type="submit" id="submitStory" value="Guardar" class="btn btn-default pull-right" />

        @await Html.PartialAsync("Stories")

    </div>
        </div>

<div>
    <a asp-action="Index">Voltar a listagem</a>
</div>
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
{
    @Html.AntiForgeryToken()
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


    <script>
        $(document).ready(function () {

            $('#summernote').summernote({
                height: "400px",
                minHeight: null,           
                maxHeight: null,
                tabsize: 2,
               
            });

             $("#submitStory").on("click", function () {
             var form = $('#__AjaxAntiForgeryForm');
            var token = $('input[name="__RequestVerificationToken"]', form).val();
            $.ajax({
                url: "/Stories/Create",
                type: "POST",
                data: {
                    __RequestVerificationToken: token,
                    Title: $('#Title').val(),
                    Description: $('#summernote').code(),
                    AnimalId: @Model.Id,
                },
                beforeSend: function () {
                    $("#loading").addClass("loading");
                },
                success: function (response) {
                    if (response.status == 1) {
                        RefreshStories();
                        $('#Title').val("");
                        $('#summernote').code('');
                    } else {

                    }
                    $("#loading").removeClass("loading");
                },
                error: function () {
                    $("#loading").removeClass("loading");
                }
            })
            });

            function RefreshStories() {
             
         
            $.ajax({
                url: "/Animals/Stories/@Model.Id",
                type: "GET",
               
                beforeSend: function () {
                    $("#loading").addClass("loading");
                },
                success: function (response) {
                    if (response.status == 1) {
                        $("#stories").html(response.object);
                    } else {

                    }
                    $("#loading").removeClass("loading");
                },
                error: function () {
                    console.log("erro");
                }
            })
            }

            $("#deleteImage").on('click', function () {
                $("#ImageFile").val("")
                $("#deleteImage").html('<i class="fa fa-trash-o"></i> Eliminado');
                $("#deleteImage").attr("disabled", true);
            });
        });
    </script>

}
