@model ZooboxApplication.Models.ApplicationUser

@{
    List<SelectListItem> Roles = new List<SelectListItem>
        {
            new SelectListItem { Value = "Administrator", Text = "Administrador" },
            new SelectListItem { Value = "Employe", Text = "Funcionário" },
            new SelectListItem { Value = "Voluntary", Text = "Voluntário"  },
        };

    ViewData["Title"] = "Editar utilizador";
}

<h2>Editar utilizador</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfBirth" class="control-label"></label>
                <input asp-for="DateOfBirth" class="form-control" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="address" class="control-label"></label>
                <input asp-for="address" class="form-control" />
                <span asp-validation-for="address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="additionInformation" class="control-label"></label>
                <input asp-for="additionInformation" class="form-control" />
                <span asp-validation-for="additionInformation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Role"></label>
                <select asp-for="Role" asp-items="Roles" class="form-control"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
