
    <!-- start: sidebar -->
    <aside id="sidebar-left" class="sidebar-left">

        <div class="sidebar-header">
            <div class="sidebar-title">
                Menu
            </div>
            <div class="sidebar-toggle hidden-xs" data-toggle-class="sidebar-left-collapsed" data-target="html" data-fire-event="sidebar-left-toggle">
                <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
            </div>
        </div>

        <div class="nano has-scrollbar">
            <div class="nano-content">
                <nav id="menu" class="nav-main" role="navigation">
                    <ul class="nav nav-main">
                        <li class="nav-active">
                            <a href="/">
                                <i class="fa fa-home" aria-hidden="true"></i>
                                <span>Dashboard</span>
                            </a>
                        </li>

                        <li class="nav-parent">
                            <a>
                                <i class="fa fa-users" aria-hidden="true"></i>
                                <span>Utilizadores</span>
                            </a>
                            <ul class="nav nav-children">
                                <li>
                                    <a href="/Identity/Account/Registar">
                                        Registar
                                    </a>
                                </li>
                                <li>
                                    <a href="/Identity/Account/AtribuirTipo">
                                        Atribuir tipo
                                    </a>
                                </li>

                            </ul>
                        </li>
                        <li class="nav-parent">
                            <a>
                                <i class="fa fa-bell " aria-hidden="true"></i>
                                <span>Utilizadores</span>
                            </a>
                            <ul class="nav nav-children">
                                <li>
                                    <a href="/UserLists">
                                        Lista
                                    </a>
                                </li>
                                <li>
                                    <a href="/UserLists/create">
                                        Criar
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-parent">
                            <a>
                                <i class="fa fa-bell " aria-hidden="true"></i>
                                <span>Tarefas</span>
                            </a>
                            <ul class="nav nav-children">
                                <li>
                                    <a href="/jobs">
                                        Lista
                                    </a>
                                </li>
                                <li>
                                    <a href="/jobs/create">
                                        Criar
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-parent">
                            <a>
                                <i class="fa fa-paw" aria-hidden="true"></i>
                                <span>Animais</span>
                            </a>
                            <ul class="nav nav-children">
                                <li>
                                    <a href="/Animals/Create">
                                        Registar Animal
                                    </a>
                                </li>
                                <li>
                                    <a href="/Animals/Index">
                                        Listagem Animais
                                    </a>
                                </li>
                                <li>
                                    <a href="/DiseaseAnimals/Index">
                                        Doenças
                                    </a>
                                </li>
                                <li>
                                    <a href="/Races/Index">
                                        Raças
                                    </a>
                                </li>

                                <li>
                                    <a href="/Species/Index">
                                        Espécies
                                    </a>
                                </li>
                                <li>
                                    <a href="/States/Index">
                                        Estados
                                    </a>
                                </li>
                            </ul>
                        </li>

</div>

        </div>

    </aside>
    <!-- end: sidebar -->
