@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    var roleId = UserManager.GetUserAsync(User).Result.Role;
}
<!-- start: sidebar -->
<aside id="sidebar-left" class="sidebar-left">

    <div class="sidebar-header">
        <div class="sidebar-title">
            Menu
        </div>
        <div class="sidebar-toggle hidden-xs" data-toggle-class="sidebar-left-collapsed" data-target="html" data-fire-event="sidebar-left-toggle">
            <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
        </div>
    </div>

    <div class="nano has-scrollbar">
        <div class="nano-content">
            <nav id="menu" class="nav-main" role="navigation">
                <ul class="nav nav-main">
                    <li class="nav-active">
                        <a href="/">
                            <i class="fa fa-home" aria-hidden="true"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>
                    @if (roleId != "Client")
                    {
                        <li class="nav-parent">
                            <a>
                                <i class="fa fa-users" aria-hidden="true"></i>
                                <span>Utilizadores</span>
                            </a>
                            <ul class="nav nav-children">
                                <li>
                                    <a href="/Identity/Account/Registar">
                                        Registar novo utilizador
                                    </a>
                                </li>
                                <li>
                                    <a href="/users">
                                        Listar utilizadores
                                    </a>
                                </li>

                            </ul>
                        </li>
                        <li class="nav-parent">
                            <a>
                                <i class="fa fa-bell " aria-hidden="true"></i>
                                <span>Tarefas</span>
                            </a>
                            <ul class="nav nav-children">
                                <li>
                                    <a href="/jobs">
                                        Listar tarefas
                                    </a>
                                </li>
                                <li>
                                    <a href="/jobs/create">
                                        Criar tarefas
                                    </a>
                                </li>
                            </ul>
                        </li>
                    }
                        <li class="nav-parent">
                            <a>
                                <i class="fa fa-paw" aria-hidden="true"></i>
                                <span>Animais</span>
                            </a>
                            <ul class="nav nav-children">
                                @if (roleId != "Client")
                                {
                                    <li>
                                        <a href="/Animals/Create">
                                            Registar Animal
                                        </a>
                                    </li>
                                }
                                <li>
                                    <a href="/Animals/Index">
                                        Listagem Animais
                                    </a>
                                </li>
                            </ul>
                        </li>
                        @if (roleId != "Client")
                        {
                            <li class="nav-parent">
                                <a>
                                    <i class="fa fa-ticket" aria-hidden="true"></i>
                                    <span>Doações</span>
                                </a>
                                <ul class="nav nav-children">
                                    <li>
                                        <a href="/Donations/Create">
                                            Registar Doação
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/Donations/Index">
                                            Listagem Doações
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-parent">
                                <a>
                                    <i class="fa fa-dropbox" aria-hidden="true"></i>
                                    <span>Adopções</span>
                                </a>
                                <ul class="nav nav-children">
                                    <li>
                                        <a href="/Adoptions/Create">
                                            Nova adopção
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/Adoptions/Index">
                                            Adopções
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        }
                        @if (roleId == "Administrator")
                        {
                            <li class="nav-parent">
                                <a>
                                    <i class="fa fa-cogs" aria-hidden="true"></i>
                                    <span>Configurações</span>
                                </a>
                                <ul class="nav nav-children">
                                    <li>
                                        <a href="/AdoptionTypes/Index">
                                            Adopções
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/DonationTypes/Index">
                                            Doações
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/Species/Index">
                                            Espécie de animal
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/Races/Index">
                                            Raças animais
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/States/Index">
                                            Estado
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/DiseaseAnimals/Index">
                                            Doenças
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        }

                    </ul>
            </nav>
        </div>
    </div>
</aside>
<!-- end: sidebar -->
