@model ZooboxApplication.Models.Specie

@{
    ViewData["Title"] = "Eliminar";
}

<h2><span class="glyphicon glyphicon-pencil"></span></h2>

<h3>Tem a certeza que pretende eliminar?</h3>
<div>
    <h4>Specie</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SpecieName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SpecieName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-default" /> |
    </form>
</div>
