@model ZooboxApplication.Models.Specie

@{
    ViewData["Title"] = "Informação";
}


<div>
    <h4>Espécie Animal</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SpecieName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SpecieName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id"><span class="glyphicon glyphicon-pencil"></span></a> |
</div>
