@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirma o seu email";
    Layout = "/Views/Shared/_LoginLayout.cshtml";
}

<h2>@ViewData["Title"]</h2>
<div>
    <p>
        Obrigado por confirmar o seu email
    </p>
</div>
