@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Recuperar password confirmação";
    Layout = "/Views/Shared/_LoginLayout.cshtml";
}

<h2>@ViewData["Title"]</h2>
<p>
    Por favor verifiquei o seu email com a nova password
</p>

