@model ZooboxApplication.Models.State

@{
    ViewData["Title"] = "Eliminar";
}

<h2><span class="glyphicon glyphicon-pencil"></span></h2>

<h3>Tem a certeza que pretende Eliminar?</h3>
<div>
    <h4>State</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StateName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StateName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-default" />
        <a asp-action="Index">Voltar</a>
    </form>
</div>
