@model ZooboxApplication.Models.State

@{
    ViewData["Title"] = "Informação";
    Layout = "/Views/Shared/_LayoutPrint.cshtml";
}

<h2><span class="glyphicon glyphicon-info-sign"></span></h2>

<div>
    <h4>Estado do animal <a href="#" data-toggle="tooltip" data-placement="bottom" title="Informação mais detalhada em relação de um estado animal"><i class="fa fa-question-circle" aria-hidden="true"></i></a></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StateName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StateName)
        </dd>
    </dl>
</div>

