@model ZooboxApplication.Models.Job

@{
    ViewData["Title"] = "Nova Tarefa";
}

<h2>Nova Tarefa</h2>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Abbreviation" class="control-label"></label>
                <input asp-for="Abbreviation" class="form-control" />
                <span asp-validation-for="Abbreviation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea class="form-control" rows="3" data-plugin-maxlength="" maxlength="200" id="Description" name="Description"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BeginDay" class="control-label"></label>
                <input asp-for="BeginDay" class="form-control" />
                <span asp-validation-for="BeginDay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDay" class="control-label"></label>
                <input asp-for="EndDay" class="form-control" />
                <span asp-validation-for="EndDay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="State" class="control-label"></label>
                <select class="form-control input-sm mb-md" id="State" name="State">
                    <option value="Pendente">Pendente</option>
                    <option value="Activo">Activo</option>
                    <option value="Realizado">Realizado</option>
                    <option value="Rejeitado">Rejeitado</option>
                </select>
                <a href="/Races/Create">
                    não existe?
                </a>
                <span asp-validation-for="State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApplicationUser" class="control-label"></label>
                <select asp-for="ApplicationUser" name="UserId" class="form-control" asp-items="ViewBag.ApplicationUsers"></select>
            </div>
            <div class="form-group">
                <input type="submit" id="addJob" value="Adicionar" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="/vendor/bootstrap-maxlength/bootstrap-maxlength.js"></script>
}
